<div id="<%= dom_id tweet %>">
  <p>
    <strong>Content:</strong>
    <%= tweet.content %>
  </p>

  <p>
    <small>Likes:</small>
    <%= tweet.likes.to_i %>
  </p>

  <p>
    <small>Retweets:</small>
    <%= tweet.retweets.to_i %>
  </p>

</div>
